with deed
    .ui.container.basic.segment
        .ui.center.aligned.header Edit Deed
        .ui.form
            .field
                label Person
                .ui.left.icon.input
                    i.search.icon
                    +inputAutocomplete settings=settings id="search" class="" autocomplete="off"
                .ui.header Tribe Members
                .ui.list
                    each users
                        .item 
                            |#{username}
                            i.large.link.red.remove.icon.remove_user 
            .field
                label Tags to Describe Deed
                each tags
                    .ui.basic.button.deed_tag
                        i.minus.icon
                        |#{this}
                .ui.left.icon.four.wide.input
                    i.add.icon
                    input#add_tag(type='text' placeholder='Add Tag' maxlength='50')
            .ui.center.aligned.basic.segment
                if tags
                    #save.ui.big.green.button Save