// if currentUser
//     #add.ui.basic.button
//         i.plus.icon
//         | Add
.ui.left.icon.input
    i.search.icon
    +inputAutocomplete settings=settings id="search" class="" autocomplete="off"
if selected_tags
    #clear_tags.ui.primary.compact.big.icon.button
        i.remove.icon
if selected_tags
    each selected_tags
        a.ui.primary.compact.big.button.unselect_tag
            strong #{this}
div
    each all_tags
        .ui.compact.basic.button.select_tag(class=tag_cloud_class) #{this.name}
