with tribe
    .ui.container.basic.segment
        .ui.center.aligned.header Edit tribe
        .ui.form
            .field
                label Tribe Name
                input#tribe_name(type='text' value=name)                    
            .field
                label Tags to Find Tribe
                each tags
                    .ui.basic.button.tribe_tag
                        i.minus.icon
                        |#{this}
                .ui.left.icon.four.wide.input
                    i.add.icon
                    input#add_tribe_tag(type='text' placeholder='Add Tag' maxlength='50')
            .ui.center.aligned.basic.segment
                if tags
                    #save.ui.big.green.button Save Tribe
            #delete_tribe.ui.red.button
                |Delete Tribe