with person
    .ui.text.container.segment
        with profile
            img.ui.centered.medium.circular.image(src="{{c.url image_id width=800 height=600 gravity='face' crop='fill'}}")
            h2.ui.header
                |#{name}
        .ui.hidden.divider
        if tags
            i.large.tags.icon
            each tags
                .ui.basic.label #{this}
        +user_tribes user_id=person._id
        
        if is_user
            a#edit_profile.ui.basic.blue.button(href="/account/profile/edit/#{_id}")
                |Edit Profile