.ui.inverted.large.menu
    a.ui.header.item(href='/') 
        |tribe
    .right.menu
        if currentUser
            .item #{currentUser.username}
            a#logout.ui.item(href='#') 
                i.large.sign.out.icon
        else
            a.ui.item(href='/sign-in') 
                i.large.sign.in.icon

    
